

 #table{ 
    height: 200px;
     width:500px
     
 
 }
 #baslik{
     background-color: #023047;
     color:white;
     font-size: 18px;

     width:30px
 }
 #renk{
    background-color:#d6ccc2 ; 
    text-align: center;
 }
 #renk2{
    background-color:#edede9 ; 
    text-align: center;
 }
 



