

 #table{ 
    height: 200px;
     width:400px
     
 
 }
 #baslik{
     background-color: #dda15e;
     color:white;
     font-size: 18px;

     width:30px
 }
 #renk{
    background-color:#d6ccc2 ; 
    text-align: center;
 }
 #renk2{
    background-color:#edede9 ; 
    text-align: center;
 }
 #left{
   text-align: left;
   font-weight: 600;
 }
 



